
main{
  width: 1439px;
  font-family: 'Raleway', sans-serif; 
}
section{
  margin: 0 50px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

                                                        /* header*/


header{
  display: flex;
  margin: 50px 50px 25px 50px;
}

figure {
  margin: 0px;
  flex-grow: 1;
}

.nave {
  width: 375px;
}

.nave ul {
  display: flex;
}

.nave ul li {
  margin-right: 70px;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.inscrire {
  margin-top: 15px;
  color: #0065FC;
  float: right;
 
}

                                                    /* Recherche */


#where p {
  font-size: 14px; 
  margin-top: 0px;
}

#where h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.fa-child, .fa-info, .fa-money-bill-wave, .fa-heart, .fa-dog{
  color: #0065FC;
}

.search {
  display: flex; 
  margin-top: 30px;
  margin-bottom: 40px;

}

#labelSearch {
  width: 235px;
  height: 46px;
  border-top: 2px  #F2F2F2  solid;
  border-bottom: 2px  #F2F2F2  solid; 
}

input {
  width: 200px;
  height: 40px;
  border: none;
  justify-content: center;
}

input::placeholder{
  color: black;
  font-size: 16px;
  
}

#mapIcon {
  display: flex;
  background-color: #F2F2F2 ;
  height: 50px;
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  justify-content: center;
  align-items: center;
}
  
#btn {
  display: flex;
  background-color: #0065FC;
  height: 50px;
  width: 135px;
  border-radius: 0px 15px 15px 0px;
  justify-content: center;
  align-items: center;
}

.fa-sistrix{
  
  position: absolute;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  

}

.button {
  color:white;
  position: absolute;
  justify-content: center;
  align-items: center;
}

                                                    /*filters/*/
                                                   
 .filters {
  display: flex;
  margin-right: 25px;
}

.logofilters{
  display: flex;
}

.filters h2{
  margin-right: 35px;
 margin-top: 10px;
}

.filters2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  height: 45px;
}

.circle {
  background-color: #DEEBFF;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.btn2 {
 display: flex;
 height: 43px;
 border: 2px solid;
 border-color: #F2F2F2 ;
 border-radius: 25px;
 margin-right: 10px;
 border-left: transparent;
}

.btn2 h2{
  font-size: 16px;
  font-style: inherit;
  margin: 0 15px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: #F2F2F2 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#info {
  display: flex; 
}

#info p {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 3px;
}

.fa-info {
  font-size: 70%;
}

                                       /* hebergements à marseille*/



#hebergement {
  display: flex; 
}

#starGrey{
  color: #F2F2F2;
}

.starBlue {
  color: #0065FC;
}

article{
  background-color:  #F2F2F2;
  border-radius: 10px; 
  width: 66%;
  margin-right: 40px; 
}

.photosHebergement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.photosHebergement a {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 25px;
  color: black; 
}

.photosHebergement h1 {
  margin-left: 15px;
}

.cover{
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px ;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:  240px;
  height: 100px;
}

.desc {
  margin-left: 20px;
}

.desc h3{
  font-size: 14px;
}

.desc p{
  font-size: 12px;
  font-style: italic;
}

article h2 {
  font-size: 16px;
  margin-left: 35px;
}

article h1 {
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
}


                                                      /*Populaires*/

aside {
  background-color:  #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  width: 33%;
  padding-top: 20px;
}

.popular{
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.photopopular{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photopopular a {
  color: black;
  display: flex;
  width: 350px;
  height: 140px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.popularcover{
  object-fit: cover;
  width:130px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 5px ;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc2 h3{
  width: 150px;
  font-size: 14px;
}

.desc2 {
  margin-left: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.desc2 p{
  font-size: 12px;
  font-style: italic;
}

                                                      /*Activity*/


.PhotoActivity{
  display: flex;
  justify-content: space-between;
 }

 #activity h1{
   margin-top: 40px;
 }

 .photoWrap{
   display: flex;
   flex-direction: column;
  justify-content: space-between;
 }


.photoAct1 {
  width: 308px;
  height: 456px;  
}

.photoAct2 {
  width: 308px;
  height: 241px;
}
  
.photoAct3 {
  width: 308px;
  height: 168px;
}

.imgAct1, .imgAct2, .imgAct3 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 308px;
}

.imgAct1 {
  height: 400px;
}

.imgAct2 {
  height: 185px;
}

.imgAct3 {
  height: 112px;
}
.nom {
  width: 308px;
  height: 56px;
  box-shadow: 0px 7px 7px  #F2F2F2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
}

/*Footer*/

footer {
  display: flex;
  background-color: #F2F2F2; 
  margin-top: 50px;
}
footer h2 {
  font-size: 16px;
}
footer div {
  margin: 50px;
  width: 33%;
}
footer div p {
  font-size: 12px;
}
                                                                  /*TABLETTE*/
                                                                
 
@media all and (min-width: 700px) and (max-width:1200px){

  main{
    width: 740px;
    border: solid 2px black;
  }
                                                  /*HEARDERTablette*/
  header{
    width: 90%; 
    margin: 20px;
  }
                                                  /*RECHERCHE TABLETTE*/
  #where{
    margin: 0px 0px 0px 15px;
  }
                                                                                
  .filters{
      flex-direction: column;
      margin: 0px;
  }
                                                                              
  .btn2{
    width: 90%;
      height: 90%;
  }

  .filters2{
    margin: 0px 0px 20px 0px;
  }
     
  btn2{
    margin: 5px;
  }
  btn2 h2 {
    border-right: 5px;
  }
    
                                                  /*HEBERGEMENT TABLETTE*/


#hebergement{
  flex-direction: column; 
}

article{
  width: 100%;
  margin-bottom: 40px;
}

aside{
  width: 100%;
  background-color: white;
}

                                                  /*POPULAR TABLETTE*/

.photopopular a{
  box-shadow: 0px 10px 10px  #F2F2F2;
}

.cover3{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}
                                                    /*ACTIVITY TABLETTE*/

.PhotoActivity{
  flex-wrap: wrap;
 height: 1012px;
  
}
.nom{
  padding: 0px;
  margin-bottom: 20px;
}

.photoWrap{
  margin-bottom: 20px ;
}
.photoAct3{
  margin-bottom: 30px;
}
}

@media all and (max-width: 600px) {                               /*SMARTPHONE*/
  main{
    width: 375px;
    border: black 2px solid;
  }

  section {
    margin:0px;
  }
  
                                                      /*HEADER SMARTPHNE*/
  .inscrire{ 
    margin-right: 20px;  
  }

  header {
    margin: auto;
    flex-wrap: wrap;
  }

  figure {
    margin-left: 20px;
    float: left;
  }
  
  .nave{
    order: 3;
  }
                                                    /*SEARCH SMARTPHONE */

  #where{
    margin-left: 20px;
  }

#where h1, #info {
  width: 340px;
}

#btn {
  width: 50px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.filters {
  flex-direction: column; 
}

.logofilters{
  width: 375px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0px;
}

.filters2{
  margin-bottom: 20px;
  margin-left: 0px;
}

                                          /*Popular SMARTPHONE*/
#hebergement{
 flex-flow: column-reverse wrap;
 justify-content: center;
}

article {
  background-color: white;
  width: 100%;
}
article h1 {
  font-size: 16px; 
  margin-left: 20px;
}

aside {
  width: 100%;
  padding: 0px;
  border-radius: 0px;;
}                                 
                                            /*Hebergement SMARTPHONE*/
                                            
.photosHebergement a {
  box-shadow: 0px 7px 7px  #F2F2F2;
  width: 340px; 
}

.photosHebergement{
  width: 100%;
}

.cover{
  width: 330px;
}

article{
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
article h2 {
  margin-left: 20px;
}


                                                /*Activity SMARTPHONE*/
.imgAct1, .imgAct2, .imgAct3{
  
  height: 135px;
  width: 335px;
}

.nom{
  width: 335px;
  margin: 0px; 
  padding: 0px;
}

h3 {
  margin-left: 20px;
}

.PhotoActivity{
  width: 335px;
  flex-direction: column; 
}

#activity h1 {
  margin-left: 20px;
}

.photoAct1, .photoAct2, .photoAct3{
  width: 335px;
  height: 191px;
  margin: 20px;
}

#activity{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover2{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  width: 335px;
}

                                              /*Footer*/
footer{
  flex-direction: column;
  
}

footer div{
  width: 375px;
  margin-left: 20px;
}

.button {
  height: 1px;
  overflow: hidden;
  width: 1px;
}

.fa-sistrix{
 color: white;
 visibility: visible;
 font-size: 20px;
}


  