
main{
  width: 1439px;
  font-family: 'Raleway', sans-serif; 
}

section{
  margin: 0 50px;
}

a{
  text-decoration: none;
}

h2{
  font-size: 20px;
}

                                                        /* header*/


header{
  display: flex;
  margin: 0px 50px 25px 50px;
}

figure {
  margin: 0px;
  flex-grow: 1;
  padding-top: 50px;
}

.nave {
  width: 375px;
  display: flex;
  margin-right: 70px;   
}

#house {
  margin-right: 70px;
  border-top: #0065FC 2px solid;
  width: 187px;
  text-align: center;
  padding-top: 50px;
  vertical-align: bottom; 
}

#house a {
  color: #0065FC;
}

#acty a {
  color: black;
}

#acty {
  padding-top: 50px;
  width: 187px;
  text-align: center;
}

.inscrire { 
  color: #0065FC;
  float: right;
  padding-top: 50px;
}

                                                    /* Recherche */


#where p {
  font-size: 14px; 
  margin-top: 0px;
}

#where h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.fa-child, .fa-info, .fa-money-bill-wave, .fa-heart, .fa-dog{
  color: #0065FC;
}

.search {
  display: flex; 
  margin-top: 30px;
  margin-bottom: 40px;
}

#labelSearch {
  display:flex;
  width: 335px;
  height: 46px;
  border-top: 2px  #F2F2F2  solid;
  border-bottom: 2px  #F2F2F2  solid; 
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px ;
}

input {
  width: 200px;
  height: 40px;
  border: none;
  justify-content: center;
}

input::placeholder{
  color: black;
  font-size: 16px; 
}

#mapIcon {
  display: flex;
  background-color: #F2F2F2 ;
  height: 50px;
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  justify-content: center;
  align-items: center;
}
  
#btn {
  display: flex;
  background-color: #0065FC;
  height: 48px;
  width: 135px;
  border-radius: 0px 15px 15px 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.fa-sistrix{
  position: absolute;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.button {
  color:white;
  position: absolute;
  justify-content: center;
  align-items: center;
}

                                                    /*filters/*/
                                                   
 .filters {
  display: flex;
  margin-right: 25px;
}

.logofilters{
  display: flex;
}

.filters h2{
  font-size: 18px;
  margin-right: 35px;
  margin-top: 10px;
}

.filters2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  height: 45px;
}

.circle {
  background-color: #DEEBFF;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.btn2 {
 display: flex;
 height: 43px;
 border: 2px solid;
 border-color: #F2F2F2 ;
 border-radius: 25px;
 margin-right: 10px;
 border-left: transparent;
}

.btn2 h2{
  font-size: 18px;
  font-style: inherit;
  margin: 0 15px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: #F2F2F2 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#info {
  display: flex; 
  margin-top: 20px;
}

#info p {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 3px;
}

.fa-info {
  font-size: 70%;
}

h2 a:hover{
  background-color: #F2F2F2;
  color: #0065FC;
  font-size: x-large;
}
                                       /* hebergements à marseille*/



#hebergement {
  display: flex; 
}

.starGrey{
  color: #F2F2F2;
}

.starBlue {
  color: #0065FC;
}

article{
  background-color:  #F2F2F2;
  border-radius: 10px; 
  width: 66%;
  margin-right: 40px; 
}

.photosHebergement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photosHebergement a {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 25px; 
}

.cover{
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px ;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:  240px;
  height: 100px;
}

.desc {
  margin-left: 20px;
}

.desc h3{
  font-size: 14px;
}

.desc p{
  font-size: 12px;
  font-style: italic;
}

article h2 {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}


                                                      /*Populaires*/

aside {
  background-color:  #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  width: 33%;
  padding-top: 20px;
}

.popular{
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.photopopular{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photopopular a {
  color: black;
  display: flex;
  width: 350px;
  height: 140px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.popularcover{
  object-fit: cover;
  width:130px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 5px ;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc2 h3{
  width: 150px;
  font-size: 14px;
}

.desc2 {
  margin-left: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.desc2 p{
  font-size: 12px;
  font-style: italic;
  margin-bottom: 30px;
}

                                                      /*Activity*/


.PhotoActivity{
  display: flex;
  justify-content: space-between;
 }

 #activity h2{
   margin-top: 40px;
  
 }

 .photoWrap{
   display: flex;
   flex-direction: column;
  justify-content: space-between;
 }

.photoAct1 {
  width: 308px;
  height: 456px;  
}

.photoAct2 {
  width: 308px;
  height: 241px;
}
  
.photoAct3 {
  width: 308px;
  height: 168px;
}

.coverAct1, .coverAct2, .coverAct3, .coverAct4 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width:308px;
}
.coverAct1{
  object-fit: cover;
  height: 400px;

  
}
.coverAct2, .coverAct4{
  object-fit: cover;
  height: 185px;
}

.coverAct3{
  object-fit: cover;
  height: 112px;
}

.nom {
  height: 56px;
  width:308px;
  box-shadow: 0px 7px 7px  #F2F2F2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nom h3{
  margin-left: 20px;
}

/*Footer*/

footer {
  display: flex;
  background-color: #F2F2F2; 
  margin-top: 50px;
}
footer h2 {
  font-size: 16px;
}
footer div {
  margin: 50px;
  width: 33%;
}
footer div p {
  font-size: 12px;
}
                                                                  /*TABLETTE*/
                                                                
 
@media all and (min-width: 700px) and (max-width:1200px){

  main{
    width: 720px;
  }
                                                  /*HEARDERTablette*/
  header{
    width: 90%; 
    margin: 0 20px 20px 20px;
  }

  #house, .nave{
    margin-right: 30px;
  }
                                                  /*RECHERCHE TABLETTE*/
  #where{
    margin: 0px 0px 0px 15px;
  }
                                                                                
  .filters{
      flex-direction: column;
      margin: 0px;
  }
                                                                              
  .filters2{
    margin: 0px 0px 20px 0px;
  }
     
  .btn2, .btn2 h2 {
    margin: 5px;
  }
    
                                                  /*HEBERGEMENT TABLETTE*/


  #hebergement{
    flex-direction: column; 
    margin: 0px;
    
  }

  article{
    width: 100%;
    margin-bottom: 40px;
  }



                                                    /*POPULAR TABLETTE*/

  aside{
    width: 100%;
    border-radius: 0px;
    
  }.photopopular a{
    box-shadow: 0px 10px 10px  #F2F2F2;
    width: 220px;
    height: 200px;
    flex-direction: column;

  }

  .popularcover{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 108px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }

  .photopopular{
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .popular{
    width: 100%;
    margin: 20px;
  }

  .desc2{
    width: 220px;
    height: 90px;
    margin-left: 5px;
    justify-content: start;
  }

  .desc2 h3{
    font-size: 12px;
    width: 220px;
  }

  .desc2 p{
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0px;
  }


                                                      /*ACTIVITY TABLETTE*/

  .PhotoActivity{
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1012px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }

  #activity{
    margin: 0px 20px 0px 20px;
  }

  .photoWrap{
    margin-bottom: 20px ;
  }

  .photoAct3{
    margin-bottom: 30px;
  }


}

@media all and (max-width: 600px) {                               /*SMARTPHONE*/
  main{
    width: 375px;
  }

  section {
    margin:0px;
  }
  
                                                      /*HEADER SMARTPHNE*/
  .inscrire{ 
    margin-right: 20px;  
  }

  header {
    margin: auto;
    flex-wrap: wrap;
  }

  figure {
    margin-left: 20px;
    float: left;
  }
  
  .nave{
    order: 3; 
  }

  #house{
    border-bottom: #0065FC 2px solid;
    border-top: none;
    margin-right: 0px; 
  }

  #acty {
    border-bottom: #F2F2F2 2px solid;
  }

                                                    /*SEARCH SMARTPHONE */

  #where{
      margin-left: 20px;
  }

  #labelSearch{
    width: 250px;
  }

  #btn {
    width: 50px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }

  .filters {
    flex-direction: column; 
  }

  .logofilters{
    width: 375px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .filters2{
    margin-bottom: 20px;
    margin-left: 0px;
    
  }

                                            /*Popular SMARTPHONE*/
  #hebergement{
  flex-flow: column-reverse wrap;
  justify-content: center;
  }

  article {
    background-color: white;
    width: 100%;
  }
  article h2 {
    font-size: 16px; 
    margin-left: 20px;
  }

  aside {
    width: 100%;
    padding: 0px;
    border-radius: 0px;;
  }   

                                              /*Hebergement SMARTPHONE*/
                                              
  .photosHebergement a {
    box-shadow: 0px 7px 7px  #F2F2F2;
    width: 340px; 
  }

  .photosHebergement{
    width: 100%;
  }

  .cover{
    width: 330px;
  }

  article{
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  article h2 {
    margin-left: 20px;
  }


                                                  /*Activity SMARTPHONE*/

  
  .PhotoActivity{
    width: 335px;
    flex-direction: column; 
  }

  #activity h1 {
    margin-left: 20px;
  }

  .photoAct1, .photoAct2, .photoAct3{
    width: 335px;
    height: 191px;
    margin: 20px;
  }

  #activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .coverAct1,.coverAct3, .coverAct4{
    height: 135px;
    width: 335px;
    object-position: 25% 25%;
   
  }

  .coverAct2{
    height: 135px;
    width: 335px;
  }

  .nom{
    width: 335px;
  }

                                                /*Footer*/
  footer{
    flex-direction: column;
  }

  footer div{
    width: 375px;
    margin-left: 20px;
  }

  .button {
    height: 1px;
    overflow: hidden;
    width: 1px;
  }

  .fa-sistrix{
  color: white;
  visibility: visible;
  font-size: 20px;
  }

}
  